@model IEnumerable<BranoViewModel>
@{
    ViewBag.Title = "Brani";
}

<div class="text-center">
    <h1 class="display-4">I TUOI BRANI PRFERITI:</h1>
    <p class="text-right">@Html.ActionLink("Aggiungi nuovo Brano","Insert")<p />

    <table class="table">
            @if (Model != null && Model.Any())
            {
                foreach (var brano in Model)
                {
                <tr>
                    <td>@brano.TitoloBrano</td>
                    <td>@brano.AnnoUscita.ToShortDateString()</td>
                    <td>@brano.Durata</td>
                    <td>@brano.Genere</td>
                    <td>
                            @Html.ActionLink("Modifica","EditBrano",new {ID = brano.IdBrano}) | 
                            @Html.ActionLink("Dettagli","DetailBrano",new {ID = brano.IdBrano})
                    </td>
                </tr>
                }
            }
            else
            {
            <tr>
                <td colspan="5" class="text-center"> Nessun brano disponibile</td>
            </tr>
            }
    </table>

</div>
