@model IEnumerable<BandViewModel>
@{
    ViewBag.Title = "Band";
}

<div class="text-center">
    <h1 class="display-4">LE TUE BAND PREFERITE:</h1>
    <p class="text-right">@Html.ActionLink("Aggiungi nuova Band","Insert")<p />

    <table class="table">
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Immagine</td>
                    <td>
                            @Html.ActionLink("Modifica","Edit",new {ID = item.IdBand}) | 
                            @Html.ActionLink("Dettagli","Detail",new {ID = item.IdBand})
                    </td>
                </tr>
                }
            }
            else
            {
            <tr>
                <td colspan="5" class="text-center"> Nessun Artista ancora disponibile</td>
            </tr>
            }
    </table>

</div>
